<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
    <title>CS-312-MiniProject-3</title>
</head>
<body>
    <div class="d-flex justify-content-around align-items-center">
        <a href="/"><button class="btn btn-primary">HOME</button></a>
        <h1>
            Welcome 
            <% if (locals.user) { %>
                <%= user.name %>
            <%}
            else
            { %>
                to my blog web application!
            <% } %>
        </h1>
        <div>
            <a href="/signup"><button class="btn btn-primary">SIGN UP?</button></a>
            <a href="/login"><button class="btn btn-primary">LOGIN?</button></a>
        </div>
    </div>
    <% if (locals.user) { %>
    <div class="blogForm">
        <form action="/submit" method="post">
            <div class="mb-3">
                <label class="form-label formLabel">Blog Title:</label>
                <input class="form-control" type="text" name="blogTitle" placeholder="Blog title?" required>
            </div>
            <div class="mb-3">
                <label class="form-label formLabel">Blog Content:</label>
                <textarea class="form-control" name="blogContent" rows="5" cols="40" placeholder="Blog away!" required></textarea>
            </div>
            <input class="btn btn-primary" type="submit">
            <br>
            <br>
        </form>
    </div>
    <% } %>
    <div style="width: 80%; margin: 0 auto;">
        <%# Check if there are any blogs %>
        <% if (locals.blogs && locals.blogs.length > 0) {
            locals.blogs.forEach(element => { %>
                <div class="card text-bg-dark border-light">
                    <div class="card-header" style="display: flex; justify-content: space-between;">
                        <div>
                        <%= element["blogTitle"] %>
                        </div>
                        <div>
                        <%= element["timeCreated"].toLocaleString() %>
                        </div>
                    </div>
                    <div class="card-body" style="display: flex; justify-content: space-between;">
                    <div>
                    <blockquote class="blockquote">
                        <p>
                            <%= element["blogContent"] %>
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <%= element["bloggerName"] %>
                    </figcaption>
                    </div>
                    <%# check for user log in and if user owns blog post %>
                    <% if (locals.user && locals.user.user_id === element["bloggerID"]) { %>
                    <form action="/edit" method="post">
                        <input type="hidden" name="blogID" value="<%= element['blogID'] %>">
                        <input type="submit" name="action" class="btn btn-dark btn-outline-light" value="Delete">
                        <input type="submit" name="action" class="btn btn-dark btn-outline-light" value="Edit">
                    </form>
                    <% } %>
                    </div>
                </div>
            <%});
        }
        %>
    </div>
</body>
</html>